<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.importre.screenshot</string>
	<key>connections</key>
	<dict>
		<key>6791E0B2-EF7E-4B4E-8750-155F7ACD0B13</key>
		<array/>
		<key>72B51054-B2E8-41FC-B479-B25BEF02B7F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BD54D93-6D8A-4EA5-B2B1-2C2048373CFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6791E0B2-EF7E-4B4E-8750-155F7ACD0B13</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Take a screenshot!</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>importre</string>
	<key>description</key>
	<string>Take a screenshot with your beautiful wallpaper.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Screenshot</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>resolution=(${(s/ /)1})
./screenshot.js pose $resolution[1] $resolution[2]</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6BD54D93-6D8A-4EA5-B2B1-2C2048373CFB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ss</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'json'

query = ARGV[0]
items = JSON.parse(File.read('resolutions.json'))['items']
items = items.filter { |item| item["title"].include?(query) } if query
output = { 'items': items }
puts(JSON.generate(output))</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72B51054-B2E8-41FC-B479-B25BEF02B7F5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>resolution=(${(s/ /)1})
./screenshot.js screenshot $resolution[1] $resolution[2]</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6791E0B2-EF7E-4B4E-8750-155F7ACD0B13</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>See https://github.com/importre/alfred-screenshot</string>
	<key>uidata</key>
	<dict>
		<key>6791E0B2-EF7E-4B4E-8750-155F7ACD0B13</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>6BD54D93-6D8A-4EA5-B2B1-2C2048373CFB</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>72B51054-B2E8-41FC-B479-B25BEF02B7F5</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/importre/alfred-screenshot</string>
</dict>
</plist>
